.featured {
  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    .left {
      display: flex;
      font-display: column;
      gap: 30px;
      h1 {
        font-style: 50px;
        span {
          font-style: italic;
          font-weight: 300;
        }
      }
      .search {
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        overflow: hidden;
        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }
          input {
            border: none;
            outline: none;
            &::placeholder {
              color: gray;
            }
          }
        }
        buttom {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #1bff73;
          color: #fff;
          align-self: flex-end;
          cursor: pointer;
        }
      }
      .popular {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          width: max-content;
        }
        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
        }
      }
    }
    .right {
      height: 100%;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
