.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  justify-content: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all case;
  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
      font-size: 34px;
      font-weight: bold;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      span {
        white-space: nowrap;
      }
      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          background-color: #2dbf73;
          border-color: #2dbf73;
        }
      }
    }
  }
}
